* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

body {
    background: linear-gradient(to bottom, blue,orange);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.intro {
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, black, blue);
    text-align: center;
    font-size: larger;
}

.candidates {
    width: 30vw;
    height: 80vh;
    background: linear-gradient(to bottom, red, rgb(225,145,31));
    border: solid 1px black;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    top: 11%;
    text-align: center;
    padding: 10px;
}

.submit {
    width: 40px;
    height: 20px;
    background-color: black;
}

.login-form {
    width: 20vw;
    height: 20vh;
    position: absolute;
    bottom: 50px;
    right: 30px;
    background-color: blueviolet;
}

.head {
    background-color: black;
    text-transform: uppercase;
    border-radius: 10px;
}

.candidate {
    margin-top: 20px;
    font-size: 20px;
    margin-top: 10%;
    font-weight: bolder;
}

.button {
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

.answers {
    width: 25vw;
    height: 70vh;
    position: absolute;
    top: 70px;
    right: 30px;
    background: linear-gradient(to bottom, rgb(36, 34, 34), black);
    padding: 20px;
    border-radius: 5px 5px 40px 40px;
    box-shadow: -1px -1px 10px rgb(200, 235, 3),
        3px 3px 7px rgba(94, 104, 121, 0.945);
}
.login-form{
    width: 25vw;
    height: 70vh;
    position: absolute;
    top: 70px;
    right: 30px;
    background: linear-gradient(to bottom, black, rgb(97, 97, 97));
    padding: 20px;
    border-radius: 5px 75px 5px 75px;
    box-shadow: -1px -1px 10px rgb(200, 235, 3),
        10px 10px 17px rgba(94, 104, 121, 0.945);
}
.button2{
    padding: 10px;
    width: 70%;
    background: linear-gradient(to right, rgb(0, 255, 85), rgb(0, 255, 221));
    border: none;
    border-radius: 10px;
    color: crimson;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    align-items: center;
    margin: 0 15%;
}
.validates{
    outline: none;
    width: 95%;
    height: 30px;
    border-radius: 10px;
    color: black;
    padding-left: 10px;
    font-size: 1rem;

}
.admin{
    color: wheat;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(27, 12, 12);
    border: solid 1px whitesmoke;
    border-radius: 5px 50px 5px 5px;
}
.counted1{
    font-size: 1rem;
    color: wheat;
    font-weight: 1000;
    text-transform: uppercase;
}
.counted2{
    font-size: 1rem;
    color: wheat;
    font-weight: 1000;
    text-transform: uppercase;
}
.counted3{
    font-size: 1rem;
    color: wheat;
    font-weight: 1000;
    text-transform: uppercase;
}




